*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: Helvetica, sans-serif;
  color: var(--color-main);
  box-sizing: border-box;
}

body {
  --color-main: #222;
  --color-main-1: #666;
  --color-secondary: #007ac3;
  --color-secondary-dark: #004a77;
  --color-light: #ddd;
  --color-white: #fff;
  --box-shadow-1: 3px 6px rgba(#000, 0.16), 0 3px 6px rgba(#000, 0.23);
  --box-shadow-2: 0 14px 28px rgba(#000, 0.25), 0 10px 10px rgba(#000, 0.22);
  --transition: all 0.3s ease;
  --border-radius-1: 5px;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  transition: var(--transition);
  text-transform: uppercase;
  font-weight: 600;
}

a,
a:visited {
  color: var(--color-main);
}

a:hover {
  color: var(--color-secondary);
}

.secondary-color {
  color: var(--color-secondary);
}

.top-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  color: var(--color-secondary);
  text-transform: uppercase;
  font-weight: 600;
}

.top-nav__list {
  list-style: none;
  display: flex;
}

.top-nav__list > li {
  padding: 5px 10px;
}

header {
  min-height: 100vh;
  width: 100vw;
  display: flex;
}

header > div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header iframe {
  width: 640px;
  height: 360px;
}

header h1 {
  text-align: center;
  font-size: 50px;
}

.container {
  max-width: 1700px;
  margin: 0 auto;
}

.video-wrapper {
  background: var(--color-secondary);
  padding: 30px;
  border-radius: 20px;
}

.header-left {
  flex-direction: column;
}

.header-left p {
  font-size: 24px;
  width: 70%;
  text-align: center;
  margin-top: 15px;
}

.header-buttons {
  display: flex;
  margin-top: 35px;
}

.button {
  font-size: 15px;
  padding: 11px 21px;
  box-shadow: var(box-shadow-1);
  cursor: pointer;
  border-radius: var(--border-radius-1);
  border: 2px solid var(--color-main-1);
  margin: 5px 8px;
  transition: var(--transition);
  text-transform: uppercase;
  font-weight: 600;
}

.button:hover {
  background-color: var(--color-light);
}


.first-button{
  background-color: var(--color-secondary);
  color: var(--color-white);
  margin-right: 10px;
}

.first-button:hover {
  background-color: var(--color-secondary-dark);
}


.section {
  min-height: 100vh;
}

.section-story {
  background-color: var(--color-main);
  color: var(--color-white);
}

.row {
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 30px 0;
}

.section-heading {
  font-size: 50px;
  text-align: center;
  padding: 60px 0 30px 0;
  margin-bottom: 35px;
  margin-top: 30px;
}

#story {
  margin-bottom: 100px;
}

.story-row {
  display: flex;
  margin-bottom: 100px;
}

.story-row > div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.story-row h3 {
  font-size: 35px;
  margin-bottom: 15px;
  font-weight: 600;
}

.story-row p {
  width: 80%;
}

.story-img > img {
  height: 280px;
  border-radius: var(--border-radius-1);
  box-shadow: var(--box-shadow-2);
}

.paragraph {
  font-size: 22px;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
}

.bold {
  font-weight: 600;
}

.author-container {
  margin-top: 70px;
}

.author-container img {
  border-radius: 50%;
  width: 180px;
}

.author-wrapper {
  background-color: var(--color-secondary);
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 50%;
}

footer {
  color: var(--color-secondary);
  background-color: var(--color-white);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  font-size: 20px;
}

footer a {
  color: var(--color-white);
}
.ctu-logo {
  height: 80px;
  margin-top: 20px;
}

.m-top {
  margin-top: 20px;
}

.m-bottom {
  margin-bottom: 50px !important;
}

.section-tech {
  color: white;
  background-color: var(--color-main);
}

.dev-link {
  color: var(--color-main) !important;
}

.dev-link:hover {
  color: var(--color-secondary) !important;
}
